.navbar
    .navbar__logo
    label.navbar__drawer(
        for='anything-you-want'
    )
        span.wmw-ic_drawer
    input(
        type='checkbox'
        id='anything-you-want'
    )
    .navbar__menu-list
        -
            const menuList = [
                {
                    label: 'home',
                    subMenu: false
                },
                {
                    label: 'collections',
                    subMenu: true
                },
                {
                    label: 'logbook',
                    subMenu: true
                },
                {
                    label: 'about',
                    subMenu: false
                },
            ]
        each menu in menuList
            .navbar__menu
                span=menu.label
                if menu.subMenu
                    include ../submenu/submenu
    .navbar__action-list
        -
            const actionList = [
                'search',
                'profile',
                'heart',
                'bag'
            ]
        each action in actionList 
            .navbar__action
                span(class=`wmw-${action}`)
        
